.countdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.main {
    z-index: 1;
    margin-top: 10vh;
}

body,
html {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
}
