.countdown {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1030;
    height: 10vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.main {
    margin-top: 10vh;
    z-index: 1;
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
}
